<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

  <connectionStrings>
    <add name="connString_Ran" connectionString="Data Source=DESKTOP-PLPP9TN\MSSQLSERVER_RAN;Initial Catalog=DbTP;User Id=sa;Password=vqvx7f5w"/>
  </connectionStrings>
</configuration>