<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

  <connectionStrings>
    <add name="DQH5XS2" connectionString="Data Source=DQH5XS2\SQLEXPRESS;Initial Catalog=DbTP; Integrated security = true;"/>
    <add name="DWP5XS2" connectionString="Data Source=DWP5XS2\SQLEXPRESS;Initial Catalog=DbTP;Integrated Security = true"/>
    <add name="DESKTOP-PLPP9TN" connectionString="Data Source=DESKTOP-PLPP9TN\MSSQLSERVER_RAN;Initial Catalog=DbTP;User Id=sa;Password=vqvx7f5w"/>
  </connectionStrings>
</configuration>